<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/Site.css" />
    <include path="~/Content/flexslider.css" />
    <include path="~/Content/JFFormStyle-1.css" />
    <include path="~/Content/jquery-ui.css" />
    <include path="~/Content/style.css" />
  </styleBundle>
</bundles>